<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="monogame-local-dev-build" value="..\Rogue.Monogame\Build\" />
 </packageSources>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <packageRestore>
      <add key="enabled" value="true" />
    </packageRestore>
  </solution>
</configuration>