<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>propnet</Title>
      <Shortcut>propnet</Shortcut>
      <Description>
        Создать рассчётное свойство с взаимодействием по сети
      </Description>
      <Author>anete.anetes</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>type</ID>
          <ToolTip>Тип свойства</ToolTip>
          <Default>long</Default>
        </Literal>
        <Literal>
          <ID>property</ID>
          <ToolTip>Имя свойства</ToolTip>
          <Default>Prop</Default>
        </Literal>
      </Declarations>
      <Code Language="csharp">
        <![CDATA[        
        /// <summary>
        /// 
        /// <para>
        /// [Рассчётное через сеть]
        /// </para>
        /// </summary>
        [Calculated(typeof(NetProperty))]
        public $type$ $property$ { get => Get(___$property$); set => Set(nameof(___$property$), value); }
        private $type$ ___$property$;        
        $end$]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>